
		:root {
			
			--pk-backend-headings-font: Montserrat;
			--pk-backend-body-font: Montserrat;
			--pk-backend-heading1-font: Montserrat;
		
		}
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
			
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
body.mce-content-body {
    /* font-family: var(--pk-backend-body-font), "Brush Script MT", Arial, sans-serif; */
    font-family: var(--pk-backend-body-font), Arial, sans-serif;
}
        
body.mce-content-body h1 {
    font-family: var(--pk-backend-heading1-font), Arial, sans-serif;
}
    
body.mce-content-body h2, body.mce-content-body h3, 
body.mce-content-body h4, body.mce-content-body h5, body.mce-content-body h6 {
    font-family: var(--pk-backend-headings-font), Arial,sans-serif;
}
        