body {
  background: #f5f5f5;
}

/* shared transition */
#adminmenu li.menu-top, #adminmenu .wp-submenu li {
  transition: all 0.3s ease-in-out;     -moz-transition: all 0.3s ease-in-out;     -webkit-transition: all 0.3s ease-in-out !important;
}

/* Links */
a {
  color: #5d63f2;
}

a:hover, a:active, a:focus {
  color: #8c90f6;
}

#post-body .misc-pub-post-status:before,
#post-body #visibility:before,
.curtime #timestamp:before,
#post-body .misc-pub-revisions:before,
span.wp-media-buttons-icon:before {
  color: currentColor;
}

/* Forms */
input[type=checkbox]:checked::before {
  content: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2020%2020%27%3E%3Cpath%20d%3D%27M14.83%204.89l1.34.94-5.81%208.38H9.02L5.78%209.67l1.34-1.25%202.57%202.4z%27%20fill%3D%27%2339f7b2%27%2F%3E%3C%2Fsvg%3E");
}

input[type=radio]:checked::before {
  background: #39f7b2;
}

.wp-core-ui input[type="reset"]:hover,
.wp-core-ui input[type="reset"]:active {
  color: #8c90f6;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus,
input[type="checkbox"]:focus,
input[type="radio"]:focus,
select:focus,
textarea:focus {
  border-color: #5d63f2;
  box-shadow: 0 0 0 1px #5d63f2;
}

/* Core UI */
.wp-core-ui .button,
.wp-core-ui .button-secondary {
  color: #5d63f2;
  border-color: #5d63f2;
}

.wp-core-ui .button.hover,
.wp-core-ui .button:hover,
.wp-core-ui .button-secondary:hover,
.wp-core-ui .button.focus,
.wp-core-ui .button:focus,
.wp-core-ui .button-secondary:focus {
  border-color: #454cf0;
  color: #454cf0;
}

.wp-core-ui .button.focus,
.wp-core-ui .button:focus,
.wp-core-ui .button-secondary:focus {
  border-color: #5d63f2;
  color: #454cf0;
  box-shadow: 0 0 0 1px #5d63f2;
}

.wp-core-ui .button:active {
  background: #454cf0;
  border-color: #454cf0;
}

.wp-core-ui .button.active,
.wp-core-ui .button.active:focus,
.wp-core-ui .button.active:hover {
  border-color: #454cf0;
  color: #454cf0;
  box-shadow: inset 0 2px 5px -3px #454cf0;
}

.wp-core-ui .button-primary {
  background: #5d63f2;
  border-color: #5d63f2;
  color: #fff;
}

.wp-core-ui .button-primary:hover, .wp-core-ui .button-primary:focus {
  background: #6b71f3;
  border-color: #4f55f1;
  color: #fff;
}

.wp-core-ui .button-primary:focus {
  box-shadow: 0 0 0 1px #fff, 0 0 0 3px #5d63f2;
}

.wp-core-ui .button-primary:active {
  background: #454cf0;
  border-color: #454cf0;
  color: #fff;
}

.wp-core-ui .button-primary.active, .wp-core-ui .button-primary.active:focus, .wp-core-ui .button-primary.active:hover {
  background: #5d63f2;
  color: #fff;
  border-color: #161fec;
  box-shadow: inset 0 2px 5px -3px #06094a;
}

.wp-core-ui .button-primary[disabled], .wp-core-ui .button-primary:disabled, .wp-core-ui .button-primary.button-primary-disabled, .wp-core-ui .button-primary.disabled {
  color: #c7c7d1 !important;
  background: #373fef !important;
  border-color: #373fef !important;
  text-shadow: none !important;
}

.wp-core-ui .button-group > .button.active {
  border-color: #5d63f2;
}

.wp-core-ui .wp-ui-primary {
  color: #ffffff;
  background-color: #1d1d1b;
}

.wp-core-ui .wp-ui-text-primary {
  color: #1d1d1b;
}

.wp-core-ui .wp-ui-highlight {
  color: #ffffff;
  background-color: #5d63f2;
}

.wp-core-ui .wp-ui-text-highlight {
  color: #5d63f2;
}

.wp-core-ui .wp-ui-notification {
  color: #ffffff;
  background-color: #39f7b2;
}

.wp-core-ui .wp-ui-text-notification {
  color: #39f7b2;
}

.wp-core-ui .wp-ui-text-icon {
  color: #f3f3f1;
}

/* List tables */
.wrap .add-new-h2:hover,
.wrap .page-title-action:hover {
  color: #ffffff;
  background-color: #1d1d1b;
}

.view-switch a.current:before {
  color: #1d1d1b;
}

.view-switch a:hover:before {
  color: #39f7b2;
}

/* Admin Menu */
#adminmenuback,
#adminmenuwrap,
#adminmenu {
  background: #1d1d1b;
}

#adminmenu a {
  color: #ffffff;
}

#adminmenu div.wp-menu-image:before {
  color: #f3f3f1;
}

#adminmenu a:hover,
#adminmenu li.menu-top:hover,
#adminmenu li.opensub > a.menu-top,
#adminmenu li > a.menu-top:focus {
  color: #ffffff;
  background-color: #5d63f2;
}

#adminmenu li.menu-top:hover div.wp-menu-image:before,
#adminmenu li.opensub > a.menu-top div.wp-menu-image:before {
  color: #ffffff;
}

/* Active tabs use a bottom border color that matches the page background color. */
.about-wrap .nav-tab-active,
.nav-tab-active,
.nav-tab-active:hover {
  background-color: #f5f5f5;
  border-bottom-color: #f5f5f5;
}

/* Admin Menu: submenu */
#adminmenu .wp-submenu,
#adminmenu .wp-has-current-submenu .wp-submenu,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu,
.folded #adminmenu .wp-has-current-submenu .wp-submenu,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu {
  background: #0b0b0a;
}

#adminmenu li.wp-has-submenu.wp-not-current-submenu.opensub:hover:after {
  border-right-color: #0b0b0a;
}

#adminmenu .wp-submenu .wp-submenu-head {
  color: #bbbbbb;
}

#adminmenu .wp-submenu a,
#adminmenu .wp-has-current-submenu .wp-submenu a,
.folded #adminmenu .wp-has-current-submenu .wp-submenu a,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu a,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu a {
  color: #bbbbbb;
}

#adminmenu .wp-submenu a:focus, #adminmenu .wp-submenu a:hover,
#adminmenu .wp-has-current-submenu .wp-submenu a:focus,
#adminmenu .wp-has-current-submenu .wp-submenu a:hover,
.folded #adminmenu .wp-has-current-submenu .wp-submenu a:focus,
.folded #adminmenu .wp-has-current-submenu .wp-submenu a:hover,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu a:focus,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu a:hover,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu a:focus,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu a:hover {
  color: #5d63f2;
}

/* Admin Menu: current */
#adminmenu .wp-submenu li.current a,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a {
  color: #ffffff;
}

#adminmenu .wp-submenu li.current a:hover, #adminmenu .wp-submenu li.current a:focus,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a:hover,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a:focus,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a:hover,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a:focus {
  color: #5d63f2;
}

ul#adminmenu a.wp-has-current-submenu:after,
ul#adminmenu > li.current > a.current:after {
  border-right-color: #39f7b2;
}

#adminmenu li.current a.menu-top,
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
#adminmenu li.wp-has-current-submenu .wp-submenu .wp-submenu-head,
.folded #adminmenu li.current.menu-top {
  color: #ffffff;
  background: #5d63f2;
}

#adminmenu li.wp-has-current-submenu div.wp-menu-image:before,
#adminmenu a.current:hover div.wp-menu-image:before,
#adminmenu li.wp-has-current-submenu a:focus div.wp-menu-image:before,
#adminmenu li.wp-has-current-submenu.opensub div.wp-menu-image:before,
#adminmenu li:hover div.wp-menu-image:before,
#adminmenu li a:focus div.wp-menu-image:before,
#adminmenu li.opensub div.wp-menu-image:before,
.ie8 #adminmenu li.opensub div.wp-menu-image:before {
  color: #ffffff;
}

/* Admin Menu: bubble */
#adminmenu .awaiting-mod,
#adminmenu .update-plugins, #adminmenu li.menu-top:hover > a .update-plugins {
  color: #1d1d1b !important;
  background: #39f7b2 !important;
}

#adminmenu li.current a .awaiting-mod,
#adminmenu li a.wp-has-current-submenu .update-plugins,
#adminmenu li:hover a .awaiting-mod,
#adminmenu li.menu-top:hover > a .update-plugins {
  color: #ffffff;
  background: #0b0b0a;
}

/* Admin Menu: collapse button */
#collapse-button {
  color: #f3f3f1;
}

#collapse-button:hover,
#collapse-button:focus {
  color: #5d63f2;
}

/* Admin Bar */
#wpadminbar {
  color: #ffffff;
  background: #1d1d1b;
}

#wpadminbar .ab-item,
#wpadminbar a.ab-item,
#wpadminbar > #wp-toolbar span.ab-label,
#wpadminbar > #wp-toolbar span.noticon {
  color: #ffffff;
}

#wpadminbar .ab-icon,
#wpadminbar .ab-icon:before,
#wpadminbar .ab-item:before,
#wpadminbar .ab-item:after {
  color: #f3f3f1;
}

#wpadminbar:not(.mobile) .ab-top-menu > li:hover > .ab-item,
#wpadminbar:not(.mobile) .ab-top-menu > li > .ab-item:focus,
#wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus,
#wpadminbar.nojs .ab-top-menu > li.menupop:hover > .ab-item,
#wpadminbar .ab-top-menu > li.menupop.hover > .ab-item {
  color: #5d63f2;
  background: #0b0b0a;
}

#wpadminbar:not(.mobile) > #wp-toolbar li:hover span.ab-label,
#wpadminbar:not(.mobile) > #wp-toolbar li.hover span.ab-label,
#wpadminbar:not(.mobile) > #wp-toolbar a:focus span.ab-label {
  color: #5d63f2;
}

#wpadminbar:not(.mobile) li:hover .ab-icon:before,
#wpadminbar:not(.mobile) li:hover .ab-item:before,
#wpadminbar:not(.mobile) li:hover .ab-item:after,
#wpadminbar:not(.mobile) li:hover #adminbarsearch:before {
  color: #ffffff;
}

/* Admin Bar: submenu */
#wpadminbar .menupop .ab-sub-wrapper {
  background: #0b0b0a;
}

#wpadminbar .quicklinks .menupop ul.ab-sub-secondary,
#wpadminbar .quicklinks .menupop ul.ab-sub-secondary .ab-submenu {
  background: #2e2e2e;
}

#wpadminbar .ab-submenu .ab-item,
#wpadminbar .quicklinks .menupop ul li a,
#wpadminbar .quicklinks .menupop.hover ul li a,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a {
  color: #bbbbbb;
}

#wpadminbar .quicklinks li .blavatar,
#wpadminbar .menupop .menupop > .ab-item:before {
  color: #f3f3f1;
}

#wpadminbar .quicklinks .menupop ul li a:hover,
#wpadminbar .quicklinks .menupop ul li a:focus,
#wpadminbar .quicklinks .menupop ul li a:hover strong,
#wpadminbar .quicklinks .menupop ul li a:focus strong,
#wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover > a,
#wpadminbar .quicklinks .menupop.hover ul li a:hover,
#wpadminbar .quicklinks .menupop.hover ul li a:focus,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus,
#wpadminbar li:hover .ab-icon:before,
#wpadminbar li:hover .ab-item:before,
#wpadminbar li a:focus .ab-icon:before,
#wpadminbar li .ab-item:focus:before,
#wpadminbar li .ab-item:focus .ab-icon:before,
#wpadminbar li.hover .ab-icon:before,
#wpadminbar li.hover .ab-item:before,
#wpadminbar li:hover #adminbarsearch:before,
#wpadminbar li #adminbarsearch.adminbar-focused:before {
  color: #5d63f2;
}

#wpadminbar .quicklinks li a:hover .blavatar,
#wpadminbar .quicklinks li a:focus .blavatar,
#wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover > a .blavatar,
#wpadminbar .menupop .menupop > .ab-item:hover:before,
#wpadminbar.mobile .quicklinks .ab-icon:before,
#wpadminbar.mobile .quicklinks .ab-item:before {
  color: #5d63f2;
}

#wpadminbar.mobile .quicklinks .hover .ab-icon:before,
#wpadminbar.mobile .quicklinks .hover .ab-item:before {
  color: #f3f3f1;
}

/* Admin Bar: search */
#wpadminbar #adminbarsearch:before {
  color: #f3f3f1;
}

#wpadminbar > #wp-toolbar > #wp-admin-bar-top-secondary > #wp-admin-bar-search #adminbarsearch input.adminbar-input:focus {
  color: #ffffff;
  background: #2f2f2c;
}

/* Admin Bar: recovery mode */
#wpadminbar #wp-admin-bar-recovery-mode {
  color: #ffffff;
  background-color: #39f7b2;
}

#wpadminbar #wp-admin-bar-recovery-mode .ab-item,
#wpadminbar #wp-admin-bar-recovery-mode a.ab-item {
  color: #ffffff;
}

#wpadminbar .ab-top-menu > #wp-admin-bar-recovery-mode.hover > .ab-item,
#wpadminbar.nojq .quicklinks .ab-top-menu > #wp-admin-bar-recovery-mode > .ab-item:focus,
#wpadminbar:not(.mobile) .ab-top-menu > #wp-admin-bar-recovery-mode:hover > .ab-item,
#wpadminbar:not(.mobile) .ab-top-menu > #wp-admin-bar-recovery-mode > .ab-item:focus {
  color: #ffffff;
  background-color: #33dea0;
}

/* Admin Bar: my account */
#wpadminbar .quicklinks li#wp-admin-bar-my-account.with-avatar > a img {
  border-color: #2f2f2c;
  background-color: #2f2f2c;
}

#wpadminbar #wp-admin-bar-user-info .display-name {
  color: #ffffff;
}

#wpadminbar #wp-admin-bar-user-info a:hover .display-name {
  color: #5d63f2;
}

#wpadminbar #wp-admin-bar-user-info .username {
  color: #bbbbbb;
}

/* Pointers */
.wp-pointer .wp-pointer-content h3 {
  background-color: #5d63f2;
  border-color: #454cf0;
}

.wp-pointer .wp-pointer-content h3:before {
  color: #5d63f2;
}

.wp-pointer.wp-pointer-top .wp-pointer-arrow,
.wp-pointer.wp-pointer-top .wp-pointer-arrow-inner,
.wp-pointer.wp-pointer-undefined .wp-pointer-arrow,
.wp-pointer.wp-pointer-undefined .wp-pointer-arrow-inner {
  border-bottom-color: #5d63f2;
}

/* Media */
.media-item .bar,
.media-progress-bar div {
  background-color: #5d63f2;
}

.details.attachment {
  box-shadow: inset 0 0 0 3px #fff, inset 0 0 0 7px #5d63f2;
}

.attachment.details .check {
  background-color: #5d63f2;
  box-shadow: 0 0 0 1px #fff, 0 0 0 2px #5d63f2;
}

.media-selection .attachment.selection.details .thumbnail {
  box-shadow: 0 0 0 1px #fff, 0 0 0 3px #5d63f2;
}

/* Themes */
.theme-browser .theme.active .theme-name,
.theme-browser .theme.add-new-theme a:hover:after,
.theme-browser .theme.add-new-theme a:focus:after {
  background: #5d63f2;
}

.theme-browser .theme.add-new-theme a:hover span:after,
.theme-browser .theme.add-new-theme a:focus span:after {
  color: #5d63f2;
}

.theme-section.current,
.theme-filter.current {
  border-bottom-color: #1d1d1b;
}

body.more-filters-opened .more-filters {
  color: #ffffff;
  background-color: #1d1d1b;
}

body.more-filters-opened .more-filters:before {
  color: #ffffff;
}

body.more-filters-opened .more-filters:hover,
body.more-filters-opened .more-filters:focus {
  background-color: #5d63f2;
  color: #ffffff;
}

body.more-filters-opened .more-filters:hover:before,
body.more-filters-opened .more-filters:focus:before {
  color: #ffffff;
}

/* Widgets */
.widgets-chooser li.widgets-chooser-selected {
  background-color: #5d63f2;
  color: #ffffff;
}

.widgets-chooser li.widgets-chooser-selected:before,
.widgets-chooser li.widgets-chooser-selected:focus:before {
  color: #ffffff;
}

/* Responsive Component */
div#wp-responsive-toggle a:before {
  color: #f3f3f1;
}

.wp-responsive-open div#wp-responsive-toggle a {
  border-color: transparent;
  background: #5d63f2;
}

.wp-responsive-open #wpadminbar #wp-admin-bar-menu-toggle a {
  background: #0b0b0a;
}

.wp-responsive-open #wpadminbar #wp-admin-bar-menu-toggle .ab-icon:before {
  color: #f3f3f1;
}

/* TinyMCE */
.mce-container.mce-menu .mce-menu-item:hover,
.mce-container.mce-menu .mce-menu-item.mce-selected,
.mce-container.mce-menu .mce-menu-item:focus,
.mce-container.mce-menu .mce-menu-item-normal.mce-active,
.mce-container.mce-menu .mce-menu-item-preview.mce-active {
  background: #5d63f2;
}




/* ************************************ */
/* ********** USER ACCOUNT ************ */
/* ************************************ */

/* 1. Name (h2 #1 + bijbehorende table) */
.acf-column-1 > h2:nth-of-type(1),
.acf-column-1 > h2:nth-of-type(1) + table {
	order: 1;
}

/* 2. Contact Info (h2 #3 + table) */
.acf-column-1 > h2:nth-of-type(3),
.acf-column-1 > h2:nth-of-type(3) + table {
	order: 2;
}

/* 3. Account Management (h2 #5 + table) */
.acf-column-1 > h2:nth-of-type(5),
.acf-column-1 > h2:nth-of-type(5) + table {
	order: 3;
}

/* 4. Personal Options (h2 #2 + table) */
.acf-column-1 > h2:nth-of-type(2),
.acf-column-1 > h2:nth-of-type(2) + table {
	order: 4;
}

/* 5. About Yourself (h2 #4 + table) */
.acf-column-1 > h2:nth-of-type(4),
.acf-column-1 > h2:nth-of-type(4) + table {
	order: 5;
}

/* 6. Application Passwords (hele postbox-div) */
.acf-column-1 > #application-passwords-section {
	order: 6;
}



/* ************************************ */
/* ************** ADMIN  ************** */
/* ************************************ */

#wp-admin-bar-new-content,
#wp-admin-bar-gform-forms{
	display: none;
}

#wpadminbar .quicklinks ul{
	margin-right: 8px;
}

#wp-admin-bar-user-info .avatar,
#wpadminbar #wp-admin-bar-my-account.with-avatar>.ab-empty-item img, #wpadminbar #wp-admin-bar-my-account.with-avatar>a img{
	border-radius: 100px;
}

#wpadminbar .menupop .ab-sub-wrapper, #wpadminbar .shortlink-input,
#wpadminbar .ab-top-secondary .menupop .ab-sub-wrapper,
#wpadminbar .quicklinks ul{
	border-radius: 0px 0px 8px 8px;
}

#wpadminbar,
#adminmenu, #adminmenu .wp-submenu, #adminmenuback, #adminmenuwrap,
#wpwrap{
	background-color: #1e1e1e;
}

#wpbody-content{
  border-radius: 16px 16px 0px 0px;
  overflow: hidden;
}

#wpcontent{
	border-radius: 16px 16px 0px 0px;
	margin-bottom: 16px;
	margin-right: 16px;
	background-color: white;
	min-height: calc(100vh - 48px);
	padding: 0px 20px 20px 40px;
}

#wpcontent .wrap{
	margin-top: 20px;
}

#wpcontent .wrap:has(#welcome-panel){
	margin: 0px;
	padding: 0px;
	border: 0px;
}

#wpcontent:has(#welcome-panel){
	padding: 0px;
	background-color: black;
}

#wpfooter{
	margin-bottom: 16px;
	padding-right: 30px;
}

#dashboard-widgets .postbox-container .empty-container{
	border-radius: 8px;
}

.tablenav{
	padding-top: unset;
}

.wp-list-table th{
	vertical-align: top;
}

#adminmenu li.wp-menu-separator{
	background-color: white;
	opacity: 0.2;
	height: 1px;
	margin-inline: 5px;
	margin-block: 10px;
}

#adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head, #adminmenu li.current a.menu-top, #adminmenu li.wp-has-current-submenu a.wp-has-current-submenu{
	background-color: rgba(255, 255, 255, 0.2);
	/* border-radius: 100px; */
	/* margin-inline: 5px; */
}

#adminmenu .wp-not-current-submenu .wp-submenu, .folded #adminmenu .wp-has-current-submenu .wp-submenu{
	border-radius: 0px 8px 8px 0px;
}

#adminmenu .wp-has-current-submenu .wp-submenu, #adminmenu .wp-has-current-submenu .wp-submenu.sub-open, #adminmenu .wp-has-current-submenu.opensub .wp-submenu, .no-js li.wp-has-current-submenu:hover .wp-submenu{
	margin-bottom: 8px;
}

.wp-admin h2, .wp-admin h3{
	margin: 1em 0;
}

.wp-core-ui .attachment-preview{
  border-radius: 8px;
  overflow: hidden;
}

.wp-list-table,
.postbox, #poststuff h3.hndle{
	border-radius: 8px 8px 8px 8px;
}

.postbox-header,
#poststuff .stuffbox > h3, #poststuff h2{
	border-radius: 8px 8px 0px 0px;
}

.notice, div.error, div.updated,
table.form-table td .updated{
	border-radius: 8px;
}

.theme-id-container,
.theme-browser .theme .theme-name{
	height: 48px;
}

.media-frame.mode-grid .media-toolbar,
#wpwrap .theme-browser .theme{
	border-radius: 8px;
	overflow: hidden;
}

.wrap.plugin-install-tab-featured > p{
	display: none;
}

.plugin-install-php .wp-filter{
	margin-bottom: 20px;
	border-radius: 8px;
}

.plugin-install-php .plugin-card{
	border-radius: 8px;
}

.acf-flexible-content .layout .acf-fc-layout-actions-wrap,
body .acfe-fc-layouts>ul>li>a,
body .acfe-modal.-full>.acfe-modal-wrapper{
	border-radius: 8px;
	overflow: hidden;
}

.acf-fc-layout-title{
	flex: 1;
}

.acf-fc-layout-title .layout-title{
	text-align: center;
	margin-block: 10px;
  color: #444;
}

.acf-fc-layout-title img{
	margin: 20px auto 0px auto;
	height: 200px;
	width: 100%;
	object-fit: cover;
}

body .acf-field-flexible-content:not([data-acfe-flexible-placeholder="1"], body [data-acfe-legacy])>.acf-input>.acf-flexible-content>.values>.layout.active-layout>.acf-fc-layout-actions-wrap{
	background-color: #f9f9f9;
	border-color: #ccd0d4;
}

body .acfe-fc-layouts>ul>li>a:hover{
	background-color: #4f55f1;
}

.upload-plugin .wp-upload-form, .upload-theme .wp-upload-form{
	border-radius: 8px;
}

.single-theme .theme-overlay .theme-wrap,
.theme-overlay .screenshot,
.single-theme .theme-overlay .theme-about{
	border-radius: 8px;
	overflow: hidden;
}